body{
    background-color: rgba(0, 247, 255, 0.705);
}

tr, td{
    margin: 3px;
    border: solid gray 2px;
}

.Calendar1{
    width: 50%;
    height: auto;
    margin: 5px;
    border: solid gray 3px;
    align-items: center;
    background-color:cornsilk;
    margin-left: 300px;
}

.Calendar2{
    width: 50%;
    height: auto;
    margin: 5px;
    border: solid gray 3px;
    align-items: center;
    background-color:cornsilk;
    margin-left: 300px;
}


.Calendar3{
    width: 50%;
    height: auto;
    margin: 5px;
    border: solid gray 3px;
    align-items: center;
    background-color:cornsilk;
    margin-left: 300px;
    

    
}


